<div class="column-layout group">
  <div class="row-layout account-header">
    <div class="row-layout page-title">
      <div class="row-layout group_1">
        <img src="/assets/Accounts Icon - Green.svg" class="image" />
      </div>
      <div class="column-layout group_2">
        <h6 class="content">
          Around the Horn
        </h6>
        <p class="ig-typography__body-2 text">
          Brewing Company
        </p>
      </div>
    </div>
    <div class="row-layout group_3">
      <div class="column-layout group_4">
        <p class="ig-typography__subtitle-2 content">
          Primary Contact
        </p>
        <p class="ig-typography__caption text">
          Thomas Hardy
        </p>
        <p class="ig-typography__caption text">
          Sales Representative
        </p>
      </div>
      <div class="column-layout group_4">
        <p class="ig-typography__subtitle-2 content">
          Phone
        </p>
        <p class="ig-typography__caption text">
          (123) 456-7890
        </p>
      </div>
      <div class="column-layout group_4">
        <p class="ig-typography__subtitle-2 content">
          Billing Address
        </p>
        <p class="ig-typography__caption text">
          120 Hanover Sq.
        </p>
        <div class="column-layout group_5">
          <p class="ig-typography__caption text">
            London,  WA1 1DP
          </p>
          <p class="ig-typography__caption text">
            UK
          </p>
        </div>
      </div>
      <div class="column-layout group_4">
        <p class="ig-typography__subtitle-2 content">
          Website
        </p>
        <p class="ig-typography__caption text_1">
          www.aroundthehorn.com
        </p>
      </div>
      <div class="column-layout group_6">
        <p class="ig-typography__subtitle-2 content">
          Account Owner
        </p>
        <p class="ig-typography__caption text">
          Sandy Anderson
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row-layout group_7">
  <div class="column-layout group_8">
    <igx-tabs [disableAnimation]="true" class="tabs">
      <igx-tab-item [selected]="true" class="tab-item">
        <igx-tab-content class="column-layout tab-item-content">
          <div class="row-layout buttons-1">
            <button igxButton="raised" igxRipple class="button">
              <igx-icon>
                person_add
              </igx-icon>
              <span>Contact</span>
            </button>
            <button igxButton="raised" igxRipple class="button">
              <igx-icon>
                star_border
              </igx-icon>
              <span>New Opportunity</span>
            </button>
            <button igxButton="raised" igxRipple class="button">
              <igx-icon>
                error_outline
              </igx-icon>
              <span>New Case</span>
            </button>
            <button igxButton="raised" igxRipple class="button">
              <igx-icon>
                note_add
              </igx-icon>
              <span>Add note</span>
            </button>
            <button igxButton="raised" igxRipple class="button">
              <igx-icon>
                file_copy
              </igx-icon>
              <span>Add files</span>
            </button>
          </div>
          <igx-accordion [singleBranchExpand]="true" class="accordion">
            <igx-expansion-panel>
              <igx-expansion-panel-body>
                <div class="column-layout group_9">
                  <div class="row-layout group_10">
                    <igx-avatar initials="JL" [roundShape]="true" class="avatar"></igx-avatar>
                    <a target="_blank" class="ig-typography__body-2 hyperlink">
                      Janine Labrune
                    </a>
                  </div>
                  <div class="column-layout group_11">
                    <div class="row-layout group_12">
                      <p class="ig-typography__subtitle-2 text_2">
                        Account Name:
                      </p>
                      <p class="ig-typography__body-2 text">
                        Thomas Hardy
                      </p>
                    </div>
                    <div class="row-layout group_12">
                      <p class="ig-typography__subtitle-2 text_2">
                        Title:
                      </p>
                      <p class="ig-typography__body-2 text">
                        Owner
                      </p>
                    </div>
                    <div class="row-layout group_13">
                      <p class="ig-typography__subtitle-2 text_2">
                        Direct:
                      </p>
                      <igx-checkbox class="checkbox"></igx-checkbox>
                    </div>
                  </div>
                </div>
              </igx-expansion-panel-body>
              <igx-expansion-panel-header iconPosition="right">
                <igx-expansion-panel-title>Related Contacts (1)</igx-expansion-panel-title>
              </igx-expansion-panel-header>
            </igx-expansion-panel>
            <igx-expansion-panel>
              <igx-expansion-panel-body>
                <div class="column-layout group_9">
                  <div class="row-layout group_10">
                    <div class="row-layout group_14">
                      <img src="/assets/Accounts Icon - Green.svg" class="image_1" />
                    </div>
                    <a target="_blank" class="ig-typography__body-2 hyperlink">
                      Around The Horn
                    </a>
                  </div>
                  <div class="column-layout group_11">
                    <div class="row-layout group_12">
                      <p class="ig-typography__subtitle-2 text_2">
                        Stage:
                      </p>
                      <p class="ig-typography__body-2 text">
                        Qualification
                      </p>
                    </div>
                    <div class="row-layout group_12">
                      <p class="ig-typography__subtitle-2 text_2">
                        Amount:
                      </p>
                      <p class="ig-typography__body-2 text">
                        Owner
                      </p>
                    </div>
                    <div class="row-layout group_12">
                      <p class="ig-typography__subtitle-2 text_2">
                        Close Date:
                      </p>
                      <p class="ig-typography__body-2 text">
                        9/12/2022
                      </p>
                    </div>
                  </div>
                </div>
              </igx-expansion-panel-body>
              <igx-expansion-panel-header iconPosition="right">
                <igx-expansion-panel-title>Opportunities (1)</igx-expansion-panel-title>
              </igx-expansion-panel-header>
            </igx-expansion-panel>
            <igx-expansion-panel>
              <igx-expansion-panel-body>
                <igx-list class="list">
                  <igx-list-item [isHeader]="false">
                    <span igxListThumbnail>
                      <igx-avatar icon="insert_drive_file" [roundShape]="true" class="avatar_1"></igx-avatar>
                    </span>
                    <span igxListLine>
                      <a target="_blank" class="ig-typography__body-2 content">
                        Around-The-Horn-Contract-2022.docx
                      </a>
                    </span>
                  </igx-list-item>
                  <igx-list-item [isHeader]="false">
                    <span igxListThumbnail>
                      <igx-avatar icon="insert_drive_file" [roundShape]="true" class="avatar_1"></igx-avatar>
                    </span>
                    <span igxListLine>
                      <a target="_blank" class="ig-typography__body-2 content">
                        Around-The-Horn-Contract-2021.docx
                      </a>
                    </span>
                  </igx-list-item>
                </igx-list>
              </igx-expansion-panel-body>
              <igx-expansion-panel-header iconPosition="right">
                <igx-expansion-panel-title>Contracts (2)</igx-expansion-panel-title>
              </igx-expansion-panel-header>
            </igx-expansion-panel>
            <igx-expansion-panel>
              <igx-expansion-panel-body>
                <p class="ig-typography__body-2 text_3">
                  No cases filed.
                </p>
              </igx-expansion-panel-body>
              <igx-expansion-panel-header iconPosition="right">
                <igx-expansion-panel-title>Cases (0)</igx-expansion-panel-title>
              </igx-expansion-panel-header>
            </igx-expansion-panel>
            <igx-expansion-panel>
              <igx-expansion-panel-body>
                <p class="ig-typography__body-2 text_3">
                  No notes added.
                </p>
              </igx-expansion-panel-body>
              <igx-expansion-panel-header iconPosition="right">
                <igx-expansion-panel-title>Notes (0)</igx-expansion-panel-title>
              </igx-expansion-panel-header>
            </igx-expansion-panel>
            <igx-expansion-panel>
              <igx-expansion-panel-body>
                <p class="ig-typography__body-2 text_3">
                  No files uploaded
                </p>
              </igx-expansion-panel-body>
              <igx-expansion-panel-header iconPosition="right">
                <igx-expansion-panel-title>Files (0)</igx-expansion-panel-title>
              </igx-expansion-panel-header>
            </igx-expansion-panel>
          </igx-accordion>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Related</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content_1">
          <div class="row-layout demo-content">
            <img src="/assets/start-building-dark.svg" class="image_2" />
            <p class="ig-typography__body-2 text_4">
              Remove the "demo-content" container, and add your own content.
            </p>
          </div>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Details</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content_1">
          <div class="row-layout demo-content-1">
            <img src="/assets/start-building-dark.svg" class="image_2" />
            <p class="ig-typography__body-2 text_4">
              Remove the "demo-content" container, and add your own content.
            </p>
          </div>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>News</span>
        </igx-tab-header>
      </igx-tab-item>
    </igx-tabs>
  </div>
  <div class="column-layout group_15">
    <igx-tabs [disableAnimation]="true" class="tabs">
      <igx-tab-item [selected]="true" class="tab-item">
        <igx-tab-content class="column-layout tab-item-content">
          <div class="column-layout group_16">
            <div class="row-layout buttons">
              <button igxButton="raised" igxRipple class="button">
                <igx-icon>
                  calendar_today
                </igx-icon>
                <span>New Meeting</span>
              </button>
              <button igxButton="raised" igxRipple class="button">
                <igx-icon>
                  assignment
                </igx-icon>
                <span>New task</span>
              </button>
              <button igxButton="raised" igxRipple class="button_1">
                <igx-icon>
                  call
                </igx-icon>
                <span>Log a call</span>
              </button>
            </div>
            <igx-accordion [singleBranchExpand]="true" class="accordion">
              <igx-expansion-panel>
                <igx-expansion-panel-body>
                  <igx-list class="list">
                    <igx-list-item [isHeader]="false">
                      <span igxListThumbnail>
                        <igx-avatar src="/assets/Calendar-Avatar-Icon.svg" class="avatar_2"></igx-avatar>
                      </span>
                      <span igxListLine>
                        <div class="column-layout group_17">
                          <div class="row-layout group_18">
                            <p class="ig-typography__subtitle-2 text_5">
                              Project Intro
                            </p>
                          </div>
                          <div class="row-layout group_19">
                            <p class="ig-typography__caption text_3">
                              11/1/2022
                            </p>
                            <p class="ig-typography__caption text_3">
                              -
                            </p>
                            <p class="ig-typography__caption text_3">
                              10am
                            </p>
                          </div>
                          <igx-chip class="chip">
                            Zoom Meeting
                          </igx-chip>
                        </div>
                      </span>
                    </igx-list-item>
                    <igx-list-item [isHeader]="false">
                      <span igxListThumbnail>
                        <igx-avatar src="/assets/Calendar-Avatar-Icon.svg" class="avatar_2"></igx-avatar>
                      </span>
                      <span igxListLine>
                        <div class="column-layout group_17">
                          <div class="row-layout group_18">
                            <p class="ig-typography__subtitle-2 text_5">
                              Sync Meeting
                            </p>
                          </div>
                          <div class="row-layout group_19">
                            <p class="ig-typography__caption text_3">
                              11/7/2022
                            </p>
                            <p class="ig-typography__caption text_3">
                              -
                            </p>
                            <p class="ig-typography__caption text_3">
                              2pm
                            </p>
                          </div>
                          <igx-chip class="chip">
                            On Site Meeting
                          </igx-chip>
                        </div>
                      </span>
                    </igx-list-item>
                    <igx-list-item [isHeader]="false">
                      <span igxListThumbnail>
                        <igx-avatar src="/assets/Calendar-Avatar-Icon.svg" class="avatar_2"></igx-avatar>
                      </span>
                      <span igxListLine>
                        <div class="column-layout group_17">
                          <div class="row-layout group_18">
                            <p class="ig-typography__subtitle-2 text_5">
                              Wrap Up Meeting
                            </p>
                          </div>
                          <div class="row-layout group_19">
                            <p class="ig-typography__caption text_3">
                              11/14/2022
                            </p>
                            <p class="ig-typography__caption text_3">
                              -
                            </p>
                            <p class="ig-typography__caption text_3">
                              4pm
                            </p>
                          </div>
                          <igx-chip class="chip">
                            Phone call
                          </igx-chip>
                        </div>
                      </span>
                    </igx-list-item>
                  </igx-list>
                </igx-expansion-panel-body>
                <igx-expansion-panel-header iconPosition="right">
                  <igx-expansion-panel-title>Upcoming Events (3)</igx-expansion-panel-title>
                </igx-expansion-panel-header>
              </igx-expansion-panel>
              <igx-expansion-panel>
                <igx-expansion-panel-body>
                  <p class="ig-typography__body-2 text_3">
                    No tasks added.
                  </p>
                </igx-expansion-panel-body>
                <igx-expansion-panel-header iconPosition="right">
                  <igx-expansion-panel-title>Tasks (0)</igx-expansion-panel-title>
                </igx-expansion-panel-header>
              </igx-expansion-panel>
              <igx-expansion-panel>
                <igx-expansion-panel-body>
                  <p class="ig-typography__body-2 text_3">
                    No call logged.
                  </p>
                </igx-expansion-panel-body>
                <igx-expansion-panel-header iconPosition="right">
                  <igx-expansion-panel-title>Call Logs (0)</igx-expansion-panel-title>
                </igx-expansion-panel-header>
              </igx-expansion-panel>
            </igx-accordion>
          </div>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Activity</span>
        </igx-tab-header>
      </igx-tab-item>
      <igx-tab-item class="tab-item">
        <igx-tab-content class="row-layout tab-item-content_2">
          <div class="column-layout demo-content-1">
            <img src="/assets/start-building-dark.svg" class="image_2" />
            <p class="ig-typography__body-2 text_4">
              Remove the "demo-content" container, and add your own content.
            </p>
          </div>
        </igx-tab-content>
        <igx-tab-header>
          <span igxTabHeaderLabel>Conversations</span>
        </igx-tab-header>
      </igx-tab-item>
    </igx-tabs>
  </div>
</div>
